Q:
- Q-9. Given the score of students in multiple exams

In [3]:
import pandas as pd

In [4]:
score_of_students = {'Name':["karan","Deepa","karthiik","Chandan","Jeevan"],
      'Exam_1' : [85,70,90,75,95],
      'Exam_2':[90,80,85,70,92],
      'Final_Exam':[92,85,88,75,96]
}

In [5]:
pd.DataFrame(score_of_students)

       Name  Exam_1  Exam_2  Final_Exam
0     karan      85      90          92
1     Deepa      70      80          85
2  karthiik      90      85          88
3   Chandan      75      70          75
4    Jeevan      95      92          96

In [9]:
import pandas as pd

# Define the data
score_of_students = {
    'Name': ["karan", "Deepa", "karthiik", "Chandan", "Jeevan"],
    'Exam_1': [85, 70, 90, 75, 95],
    'Exam_2': [90, 80, 85, 70, 92],
    'Final_Exam': [92, 85, 88, 75, 96]
}

# Create a DataFrame
df = pd.DataFrame(score_of_students)

# Calculate the mean scores for each student
df['Mean_Score'] = df[['Exam_1', 'Exam_2', 'Final_Exam']].mean(axis=1)

# Test the hypothesis that mean scores are the same
mean_scores_same = df['Mean_Score'].nunique() == 1


if mean_scores_same:
    print("The mean scores of all the students are the same.")
else:
    # Find the student with the highest score
    highest_score_student = df.loc[df['Mean_Score'].idxmax(), 'Name']
    print(f"The mean scores of the students are different. {highest_score_student} has the highest score.")

The mean scores of the students are different. Jeevan has the highest score.